.outerContainer {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 90vh;
	background-color: white;
}

body {
	height: 700px;
}
.liveContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: rgb(0, 0, 0);
	border-radius: 8px;
	height: 90vh;
	width: 100%;
}
.messageContainer {
	padding: 0 10px;
}

/* @media (min-width: 320px) and (max-width: 480px) {
	.outerContainer {
		height: 100%;
	}

	.liveContainer {
		max-width: 300%;
		width: 200%;
		height: 100%;
	}
} */

@media (min-width: 480px) and (max-width: 1200px) {
	.liveContainer {
		width: 100%;
	}
}

.form {
	display: flex;
	border-top: 2px solid #343a40;
}

.input {
	border: none;
	border-radius: 0;
	padding: 3%;
	margin-top: 0;
	width: 80%;
	font-size: 1.2em;
	background-color: black;
	color: white;
}

input:focus,
textarea:focus,
select:focus {
	outline: none;
}

.sendButton {
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #2979ff;
	padding: 0px;
	display: inline-block;
	border: none;
	width: 20%;
}
